body {
	overflow: hidden;
	background-color: #272822;
}

#sidebar {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	background-color: #383a31;
}

#editor {
	position: fixed;
	top: 0;
	left: 120px;
	overflow: auto;
}

#icons {
	padding: 0;
	width: 50px;
	text-align: center;
	float: left;
}

#icons li {
	list-style-type: none;
	color: #c4c4c4;
	font-size: 1.5em;
	cursor: pointer;
	padding: 5px;
}

#icons li:hover {
	color: #ffffff;
}

#icons li:first-child {
	padding-bottom: 25px;
}

#sidebar-content {
	float: right;
	background-color: #252526;
	height: 100%;
	width: 200px;
}
