@import url('https://fonts.googleapis.com/css?family=Inconsolata');

body {
	user-select: none;
	overflow: hidden;
	background-color: #272822;
	font-family: 'Inconsolata', 'Consolas', monospace;
}

#sidebar {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	background-color: #383a31;
}

#editor, #preview {
	position: fixed;
	top: 0;
	overflow: auto;
	user-select: auto;
}

#preview {
	background-image: url("../images/parchment-paper.jpg");
    background-repeat: no-repeat;
    background-position: right top;
	background-attachment: fixed;
	padding: 50px;
}

#icons {
	padding: 0;
	width: 50px;
	text-align: center;
	float: left;
}

#icons li, #sidebar-content li {
	list-style-type: none;
	color: #c4c4c4;
	font-size: 1.5em;
	cursor: pointer;
	padding: 5px;
}

#icons li:hover {
	color: #ffffff;
}

#icons li:first-child {
	padding-bottom: 25px;
}

#icons li.selected {
	color: #ffffff;
	font-size: 1.6em;
}

#sidebar-content {
	float: right;
	background-color: #252526;
	height: 100%;
	width: 200px;
	overflow: auto;
}

#sidebar-content ul {
	padding: 0;
}

#sidebar-content li {
	padding-left: 20px;
	height: 0.8em;
	font-size: 0.8em;
	display: block;
	overflow: hidden;
    word-break: break-all;
}

#sidebar-content li:hover {
	background-color: #2e2e2e;
	color: #ffffff;
}
