h1, p {
    padding: 0;
    margin: 0;
}

.stat-block {
    width: 3em;
    float: left;
    text-align: center;
    margin-left: 8px;
    margin-bottom: 8px;
}
.stat-block strong {
    width: 100%;
    display: block;
}

hr {
    width: 344px;
    clear: both;
}
