::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}

::-webkit-scrollbar-button {
	width: 0px;
	height: 0px;
}

::-webkit-scrollbar-thumb {
	background: #b4b4b4;
	border: 0px none #ffffff;
	border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
	background: #ffffff;
}

::-webkit-scrollbar-thumb:active {
	background: #ffffff;
}

::-webkit-scrollbar-track {
	background: #333333;
	border: 0px none #ffffff;
	border-radius: 0px;
}
