.hex.values {

    /*  ## primary */
    color: #49483E;
    color: #F92672;
    color: #A6E22E;
    color: #FD971F;
    color: #66D9EF;
    color: #AE81FF;
    color: #A1EFE4;
    color: #F8F8F2;

    /* ## secondary */
    color: #75715E;
    color: #FC5C94;
    color: #C1F161;
    color: #FEB257;
    color: #8DE6F7;
    color: #C2A1FF;
    color: #BBF7EF;
    color: #F8F8F0;
}
